<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.about }}</h2>

<p> Esta reunión se concibe como un espacio de encuentro, reflexión y debate sobre la modelización forestal que se realiza actualmente en España, su papel como herramienta para hacer frente a los retos que plantea el cambio global, y los desafíos a los que se enfrenta como disciplina. </p>

<p>El cambio global supone un reto sin precedentes para la conservación y gestión de los bosques, afectando tanto a su funcionamiento como a la provisión y demanda de bienes y servicios, lo cual obligará a cambiar el modo en el que los gestionamos. Teniendo en cuenta las incertidumbres asociadas a las predicciones futuras y la longevidad de las especies forestales, la modelización supone una herramienta cada vez más necesaria y demandada, que puede resultar útil tanto para los investigadores como para los gestores. Al mismo tiempo, los avances tecnológicos proporcionan una disponibilidad cada vez mayor de datos, sobre todo procedentes de fuentes de datos remotas (LiDAR, satélite, etc.). En un contexto en el que la disponibilidad de datos es cada vez menos limitante, se hace necesario el uso de herramientas que permitan procesar dichos datos de manera adecuada, de forma que nos permitan extraer conclusiones útiles para la ciencia y práctica forestal.</p>

<p>Por ello, el título de la reunión es <font face="Sifonn Pro"; color="#8f0202">“Modelización forestal en la era de la información: retos y soluciones ante un futuro incierto”</font>. La reunión pretende ser un marco de difusión de trabajos relacionados con la modelización forestal a múltiples escalas de trabajo, así como un foro de debate sobre los desafíos que afronta la conservación y gestión de los bosques, y cómo la modelización puede contribuir a solventarlos. Al mismo tiempo, queremos que sea también un espacio de discusión sobre los principales retos que aborda la modelización de los ecosistemas forestales en un contexto en el que la disponibilidad de datos es cada vez menos limitante. La reunión quiere integrar disciplinas como la modelización del crecimiento y la productividad forestal, la selvicultura y gestión adaptativa, o la cuantificación y valoración económica de servicios ecosistémicos, con aspectos más metodológicos sobre los retos de la modelización como disciplina.
</p>

<p>La reunión se estructura en cuatro sesiones temáticas</p>
<ul> 
<li><p>Sesión I: Modelización de la dinámica forestal y la distribución de especies en un contexto de cambio global</p></li>
<li><p>Sesion II: Modelización del crecimiento y la productividad forestal: nuevas técnicas y herramientas</p></li>
<li><p>Sesión III: Modelización de procesos ecológicos e interacciones bosque-agua</p></li>
<li><p>Sesión IV: Cuantificación, valoración y optimización de servicios ecosistémicos</p></li>
</ul>

