<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.location }}</h2>

<p>La reunión se celebrará en la sede principal del <a href="http://ctfc.cat">Centre de Ciència i Tecnologia Forestal de Catalunya (CTFC)</a>, ubicado en Solsona, provincia de Lleida. Dicha sede, inaugurada en 2008, dispone de todos los equipamientos necesarios para la celebración de un evento de dichas características.</p>

<img width = 50% src="img/ctfc_sede.jpg"><img width = 50% src="img/ctfc_sala.jpg">
<p></p>
<p> Solsona se encuentra enclavado en un entorno único, rodeado de bosques submediterráneos y en pleno Prepirineo, a 1h15’ de Lleida y 1h30’ de Barcelona. La organización <b>facilitará a los asistentes </b>que lo deseen el <b>transporte a Solsona desde Lleida o Barcelona</b> el día 5 de noviembre, así como el transporte de vuelta a dichas ciudades tras la finalización de la reunión.Se ofrecerá más información al respecto en sucesivas circulares
</p> 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10565.039989516588!2d1.5131462673963523!3d42.00640995337382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39a349ee763ee2c8!2sCentre+Tecnol%C3%B2gic+Forestal+de+Catalunya!5e0!3m2!1ses!2ses!4v1559656524514!5m2!1ses!2ses" width="980" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>

