<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.location }}</h2>

<p>La reunión se celebrará en la sede principal del Centre de Ciència i Tecnologia Forestal de Catalunya (CTFC), ubicado en Solsona, provincia de Lleida. Solsona se encuentra enclavado en un entorno único, rodeado de bosques submediterráneos y en pleno Prepirineo, a 1h15’ de Lleida y 1h30’ de Barcelona. La sede principal del CTFC, inaugurada en 2008, dispone de todos los equipamientos necesarios para la celebración de un evento de dichas características. La organización facilitará a los asistentes que lo deseen el transporte a Solsona desde Lleida o Barcelona el día 5 de noviembre, así como el transporte de vuelta a dichas ciudades tras la finalización de la reunión.</p>



<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">{{ .address }}. </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>

<div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div>
