<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.registration }}</h2>

<h4>Fechas a tener en cuenta </h4>

<p>* Envío de resúmenes: hasta el <b>16 de septiembre</b>  <br>
* Aceptación de resúmenes y comunicación formato: <b>1 de octubre </b> <br>
* Inscripción y pago de la cuota: hasta el <b>11 de octubre </b> </p>

<h4>Envio de resúmenes </h4>

<p>Puedes enviar un resumen de tu trabajo por correo a <a href="mailto:modelossecf@gmail.com" target="_blank">modelossecf@gmail.com</a> hasta el próximo <b>16 de septiembre</b>. El formato de los resúmenes debe ajustarse a la plantilla del congreso, que puedes descargar <a href="https://unidisc.csuc.cat/oc-shib/index.php/s/uyq5Kvq8PxQPHcO" target="_blank">aquí.</a> Los resúmenes recibidos serán evaluados por el comité científico, que los asignara a una de las cuatro sesiones temáticas y recomendará el formato de la presentación:</p>

<p>* <u>Comunicación oral <i>normal</i></u>: de 10-12 minutos <br>
* <u>Comunicación <i>flash</i></u>: de entre 3 y 5 minutos<br>
* Salvo que se reciban numerosas comunicaciones, no se contempla sesión de posters.</p>

<h4>Inscripción </h4>

<p>Para formalizar la inscripción es necesario abonar la cuota mediante transferencia bancaria a la <b>cuenta de la Sociedad Española de Ciencias Forestales</b> (IBAN: ES10 1491 0001 2321 1589  9821, TRIODOS BANK), <b>antes del día 11 de octubre</b>, indicando el concepto: <b>“RGTModelos19”</b> y el <u>nombre de la persona inscrita</u>. Posteriormente, se debe enviar una copia del justificante de transferencia, junto con el boletín de inscripción debidamente cumplimentado, a las siguientes direcciones de correo electrónico (<u>A AMBAS</u>):</p>

<p><a href="mailto:modelossecf@gmail.com" target="_blank">modelossecf@gmail.com</a></p>
<p><a href="mailto:tesoreriasecf@gmail.com" target="_blank">tesoreriasecf@gmail.com</a></p><br>

<p>La inscripción incluye documentación, cafés y comidas durante las jornadas, así como <i>transporte desde Lleida o Barcelona</i> para aquellos que precisen de este servicio. La cuota de inscripción será de: </p>

<p><b>- 120 euros</b> para las/os socias/os de la SECF o miembros de la Universitat de Lleida<br>
<b>- 140 euros</b> para no socias/os<br>
<b>- 80 euros</b> para estudiantes o desempleados/as que acrediten su condición

<p>Además, la SECF pone a disposición de estudiantes vinculados a la misma, bien como socios individuales o porque su Universidad o Centro de Investigación sea socio institucional de la SECF, <b>bolsas de viaje</b> por un importe máximo de 50 euros en gastos de transporte debidamente documentados. Dichas bolsas de viaje deben solicitarse a título individual mediante <a href="https://unidisc.csuc.cat/oc-shib/index.php/s/g2hVXkphwx5LxTg" target="_blank">este formulario.</a> </p>

<h4>Publicación voluntaria de textos completos </h4>
<p>Por parte de la SECF se prevé la publicación, para aquellos autores que lo deseen, de las comunicaciones presentadas en los Cuadernos de la SECF, previa revisión por el comité científico, en formato electrónico y de libre acceso. Para la publicación en los Cuadernos de la SECF de las comunicaciones voluntarias aceptadas, se deberán seguir las normas de publicación, indicadas en la página web: 
http://secforestales.org/publicaciones/index.php/cuadernos_secf/about/submissions
</p>

<h4>Documentación</h4>
<p>
<a href="https://unidisc.csuc.cat/oc-shib/index.php/s/q6Q0GC1AzNyNkGT" target="_blank">Primera circular</a> <br>
<a href="https://unidisc.csuc.cat/oc-shib/index.php/s/FGy2KeNiOLcIifs/download" target="_blank">Formulario de inscripción</a> <br>
<a href="https://unidisc.csuc.cat/oc-shib/index.php/s/uyq5Kvq8PxQPHcO" target="_blank">Plantilla de resúmenes</a> <br>
<a href="https://unidisc.csuc.cat/oc-shib/index.php/s/g2hVXkphwx5LxTg" target="_blank">Solicitud de bolsa de viaje</a></p>


<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.sponsors }}</h2>

<ul class="sponsors-list">
{{ range $sponsor := .sponsors }}
  <li class="sponsor-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="sponsor--link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
{{ end }}
</ul>
