<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.schedule }}</h2>

<ul class="schedule-tabs">
  <li><a href="#" activate="day-2">Miércoles 6 de noviembre</a></li>
  <li><a href="#" activate="day-3">Jueves 7 de noviembre</a></li>
</ul>
<script type="text/javascript">
  var lists = document.querySelectorAll(".schedule-tabs li"), 
      doSomething = function(evt) {
          [].map.call(lists, function(elem) { 
            elem.classList.remove('active');
            var id = elem.children[0].getAttribute('activate');
            document.getElementById(id).classList.add('hidden');
          });
          this.classList.add('active');
          var id = this.children[0].getAttribute('activate');
          document.getElementById(id).classList.remove('hidden');
          evt.preventDefault();
      };
  [].map.call(lists, function(elem) {
      elem.addEventListener('click', doSomething, false);
  });
</script>

<div id="day-2" class="schedule-tbl ">
  <h3>Miércoles, 6 de noviembre</h3>
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Hora</th>
        <th class="schedule-slot">Actividad</th>
        <th class="schedule-description">Descripción</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .scheduleday1 }}
        {{ if ne .sesion nil}}
        <tr bgcolor= "#DCDCDC">
            <td style="text-align:center; font-size:1.6em" colspan=3 >{{.sesion}}: {{.description}}</td>

        </tr>
        
        {{ else }}            

        
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

               <span class="speakers-name"; style="font-size:1.1em">{{ .name }}</span>
               <span class="speakers-company"; style="font-size:0.9em">{{ .company }}</span>
            </td>
            <td class="schedule-description">{{ .presentation.title }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">{{ .description }}</td>
          </tr>
        {{ end }}
      {{ end }}
            {{ end }}
    </tbody>
  </table>
</div>
<div id="day-3" class="schedule-tbl">
  <h3>Jueves, 7 de noviembre</h3>
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Hora</th>
        <th class="schedule-slot">Actividad</th>
        <th class="schedule-description">Descripción</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .scheduleday2 }}
        {{ if ne .sesion nil}}
        <tr bgcolor= "#DCDCDC">
            <td style="text-align:center; font-size:1.6em" colspan=3 >{{.sesion}}: {{.description}}</td>

        </tr>
        
        {{ else }}  
        {{ if ne .presentation nil }}
          <tr>
            <td class="schedule-time">{{ .presentation.time }}</td>
            <td class="schedule-slot">
            {{ with .photo }}
              <span class="speaker-photo">
                <img class="photo" src="{{ . }}" alt="{{ $slot.name }}">
              </span>
            {{ end }}

               <span class="speakers-name"; style="font-size:1.1em">{{ .name }}</span>
               <span class="speakers-company"; style="font-size:0.9em">{{ .company }}</span>

            </td>
            <td class="schedule-description">{{ .presentation.title }}</td>
          </tr>
        {{ else }}
          <tr class="schedule-other">
            <td class="schedule-time">{{ .time }}</td>
            <td class="schedule-slot">{{ .name }}</td>
            <td class="schedule-description">{{ .description }}</td>
          </tr>
        {{ end }}
      {{ end }}
     {{ end }}

    </tbody>
  </table>
</div>