<h2 style="font-family: 'Sifonn Pro'" class="section-title">{{ .titles.scicom }}</h2>

<ul class="scicom-list">

{{ range $scicom := .scicom }}
  <li class="scicom-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
  {{ with .photo }}
    <span class="scicom-photo">
    <img class="photo" src="{{ . }}" alt="{{ $scicom.name }}" itemprop="image">
    </span>
  {{ end }}

   <h4 class="scicom-name">{{ .name }}
  {{ with .link }}
    <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
  {{ end }}
  </h4>
   <h3 class="scicom-company">{{ .company }}
  {{ with .link }}
    <a href="{{ .href }}" target="_blank" title="{{ .text }}"> {{ .text }} </a>
  {{ end }}
  </h3>

  </li>


{{ end }}


</ul>